Package: tux
Version: __VERSION__
Architecture: amd64
Maintainer: Enea Baytekin <enes@baytekin.dev>
Installed-Size: 10
Depends: libc6
Section: utils
Priority: optional
Homepage: https://github.com/enesbaytekin/tux
Description: Terminal pet penguin
 Tux is a virtual pet penguin that lives in your terminal.
 Interact with it through simple CLI commands: feed, play, and sleep.
